@charset "utf-8";

html,
body {
  background-color: #fff;
}

/* 标题 */

.titleReport {
  padding: 0.4rem;
  padding-top: 0.266667rem;
  background-color: #fff;
}

.titleReport .dot {
  float: left;
  margin-top: 0.053333rem;
  width: 0.08rem;
  height: 0.32rem;
  background-color: #4b7eff;
  border-radius: 0.026667rem;
}

.titleReport .titleTxt {
  float: left;
  margin-left: 0.32rem;
  color: #333;
  font-size: 0.426667rem;
  line-height: 0.426667rem;
}

/* 标题 */

/* 风险分模块 */

.creditBox {
  margin-bottom: 0.533333rem;
}

.scoreBox {
  margin-top: 0.533333rem;
  padding: 0 1.333333rem;
  width: 7.333333rem;
}

.scoreBox .rating {
  float: left;
  width: 3.253333rem;
}

.scoreBox .rating .scoreColor {
  position: relative;
  width: 3.253333rem;
  height: 3.253333rem;
  background: url('../img/creditScoreDetailsPhone/1.png') no-repeat center center;
  background-size: 100% 100%;
}

.scoreBox .rating .scoreColor1 {
  background-image: url('../img/creditScoreDetailsPhone/1.png');
  color: #22D19A;
}

.scoreBox .rating .scoreColor2 {
  background-image: url('../img/creditScoreDetailsPhone/2.png');
  color: #FE9746;
}

.scoreBox .rating .scoreColor3 {
  background-image: url('../img/creditScoreDetailsPhone/3.png');
  color: #F55A46;
}

.scoreBox .rating .scoreColor .grade {
  position: absolute;
  top: 0.8rem;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.88rem;
}

.scoreBox .rating .scoreColor .gradeLevel {
  position: absolute;
  top: 1.733333rem;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.346667rem;
}

.scoreBox .rating .scoreTip {
  margin-top: 0.266667rem;
  text-align: center;
  font-size: 0.346667rem;
  color: #666;
}

.scoreBox .level {
  float: right;
  margin-top: 0.773333rem;
  text-align: left;
}

.scoreBox .level .levelShow {
  margin-bottom: 0.266667rem;
}

.scoreBox .level .icon1 {
  float: left;
  margin-top: 0.04rem;
  width: 0.32rem;
  height: 0.32rem;
  background: url('../img/creditScoreDetailsPhone/icon1.png') no-repeat center center;
  background-size: 100% 100%;
}

.scoreBox .level .icon2 {
  float: left;
  margin-top: 0.04rem;
  width: 0.32rem;
  height: 0.32rem;
  background: url('../img/creditScoreDetailsPhone/icon2.png') no-repeat center center;
  background-size: 100% 100%;
}

.scoreBox .level .icon3 {
  float: left;
  margin-top: 0.04rem;
  width: 0.32rem;
  height: 0.32rem;
  background: url('../img/creditScoreDetailsPhone/icon3.png') no-repeat center center;
  background-size: 100% 100%;
}

.scoreBox .level .levelTxt {
  float: left;
  margin-left: 0.266667rem;
  font-size: 0.346667rem;
  line-height: 0.4rem;
  color: #999;
}

/* 风险分模块 */