
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../../../common/plugs/bootstrap-3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../common/css/style.min.css" />
    <link rel="stylesheet" href="../../../common/plugs/layer/skin/layer.css?rev=433a1dd8df8c4851be764e907f6d758a" />
    <link rel="stylesheet" href="../../../common/plugs/bootstrap-table/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../../common/plugs/bootstrap-datepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../../../css/main.css" />
    <title>分公司付款</title>
    <style>
        .time{
            font-size: 16px;
            font-weight: 700;
            color: red;
        }
        .overage{
            font-size: 14px;
            color: #f50000;
            margin-top: 10px;
        }
    </style>
</head>

<body class="gray-bg">
<div class="flow-isShowImg clearfix">
    <span class="isShowImg hide" id="isDiscount">贴息</span>
    <span class="isShowImg hide" id="isFreeDoor">免家访</span>
    <span class="isShowImg hide" id="isMaritalStatus">单身</span>
</div>
<div id="loanApproval">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="page-header">
                    <h3 class="text-center" id="flowTitle"></h3>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#examine" data-toggle="tab">审批信息</a></li>
                    <li><a href="#info" data-toggle="tab">基本信息</a></li>
                    <li><a href="#budget" data-toggle="tab">预算单</a></li>
                    <li><a href="#detail" data-toggle="tab">影像管理</a></li>
                    <li><a href="#guarantee" data-toggle="tab">反担保信息</a></li>
                    <li><a href="#opinion" data-toggle="tab">过程意见</a></li>
                </ul>
                <div class="tab-content">
                    <p></p>
                    <div id="examine" class="tab-pane active">
                        <div class="row">
                            <div class="col-md-24 col-xs-24 col-sm-24">
                                <div class="ibox float-e-margins">
                                    <form id="approvalInfoForm" class="form-horizontal">
                                        <fieldset disabled>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">项目基本信息</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="form-group form-group-sm">
                                                        <v-input label="业务品种" name="businessTypeName"></v-input>
                                                        <v-input label="项目编号" name="projectNo"></v-input>
                                                        <v-input label="客户编号" name="customerNo"></v-input>
                                                    </div>
                                                    <div class="form-group form-group-sm">
                                                        <v-input label="客户姓名" name="customerName"></v-input>
                                                        <v-input label="证件号码" name="cardNo"></v-input>
                                                        <v-input label="贷款金额" name="loanAmount"></v-input>
                                                    </div>
                                                    <div class="form-group form-group-sm">
                                                        <v-input label="申请金额" name="requiredAmount" v-if="bankDirect==false"></v-input>
                                                        <v-input label="应收金额" name="receivableAmount" v-if="bankDirect==true"></v-input>
                                                        <!--<v-input label="贷款期限:" name="loanTerm"></v-input>-->
                                                        <v-select label="贷款期限" name="loanTerm" :options="loanTerm"></v-select>
                                                        <v-input label="业务小组" name="userGroupName"></v-input>
                                                    </div>
                                                    <div class="form-group form-group-sm">
                                                        <v-input label="客户经理" name="customerManagerName"></v-input>
                                                        <v-input label="合作银行" name="coBankName"></v-input>
                                                        <v-input label="贷款产品" name="loanTypeName"></v-input>
                                                        <input type="hidden" name="loanType">
                                                    </div>
                                                    <div class="form-group form-group-sm">
                                                        <v-radio label="是否电子签约" name="isEcontract" :options="[{value:'1',text:'是'},{value:'0',text:'否'}]"></v-radio>
                                                        <div class="input-tip">
                                                          <label class="col-xs-3 col-sm-3 col-md-3 control-label">合同状态：</label>
                                                          <div class="col-xs-5 col-sm-5 col-md-5">
                                                            <input type="hidden" name="econtractStatus" value="">
                                                            <select name="econtractStatus" id="econtractStatus" class="form-control">
                                                            </select>
                                                          </div>
                                                        </div>                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                    <form class="form-horizontal" id="paymentGetForm">
                                        <!--普通流程-->
                                        <div class="panel panel-default" v-if="bankDirect==false">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">付款信息</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group form-group-sm">
                                                    <!--<v-input label="已收金额:" name="collectedAmount" readonly="readonly"></v-input>-->
                                                    <v-input label="需打款总额" name="needPaySumAmount" readonly="readonly"></v-input>
                                                    <v-input label="实际打款" name="dealerPaymentAmount" class="number"></v-input>
                                                </div>
                                                <div class="form-group form-group-sm">
                                                    <v-input label="付款日期" name="dealerPaymentDate" class="date" placeholder="--请选择--"></v-input>
                                                    <!--<v-input label="合作车行:" name="dealerName" readonly="readonly"></v-input>-->
                                                    <v-select label="付款方式" name="payType" id="payType" class="required"></v-select>
                                                </div>
                                                <div class="form-group form-group-sm">
                                                    <v-input label="收款人全称" name="dealerAccountName" readonly="readonly"></v-input>
                                                    <v-input label="收款账号" name="dealerAccountNo" readonly="readonly"></v-input>
                                                    <v-input label="收款人开户行" name="dealerBank" readonly="readonly"></v-input>
                                                </div>
                                                <div class="form-group form-group-sm">
                                                    <div class="input-tip">
                                                        <label class="col-xs-3 col-sm-3 col-md-3 control-label">说明：</label>
                                                        <div class="col-xs-21 col-sm-21 col-md-21">
                                                            <textarea class="form-control" name="dealerPaymentRemark" rows="3" required="required"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                         <!--银行直销-->
                                        <div class="panel panel-default" v-if="bankDirect==true">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">收款信息</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group form-group-sm">
                                                    <v-input label="应收金额" name="receivableAmount" class="required"></v-input>
                                                    <v-input label="实际收款" name="collectedAmount" class="required"></v-input>
                                                    <v-input label="收款日期" name="collectedDate" class="required date" id="collectedDate"></v-input>
                                                </div>
                                                <div class="form-group form-group-sm">
                                                    <div class="input-tip">
                                                        <label class="col-xs-3 col-sm-3 col-md-3 control-label">说明：</label>
                                                        <div class="col-xs-21 col-sm-21 col-md-21">
                                                            <textarea class="form-control" name="collectedRemark" rows="3" required="required"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-sm">
                                            <div class="col-md-24 col-xs-24 col-sm-24 text-right">
                                                <button type="button" class="btn btn-primary" v-on:click="paymentSave">保存</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="info" class="tab-pane">
                        <div data-url="../../common/commonBaseinfo/baseInfo.html"></div>
                    </div>
                    <div id="detail" class="tab-pane">
                        <div data-url="../../common/documentDetail/index.html"></div>
                    </div>
                    <div id="budget" class="tab-pane">
                        <div data-url="../../common/commonBudget/businessBudget.html"></div>
                    </div>
                    <div id="guarantee" class="tab-pane">
                        <div data-url="../../common/commonGuarantee/guarantee.html"></div>
                    </div>
                    <div id="opinion" class="tab-pane">
                        <div data-url="../../common/commonOpinion/opinion.html"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--流程意见-->
        <flow-opinion id="opinionForm" @btnsave="saveBtn">
            <div slot="conclusion">

            </div>
            <div slot="foot">
                <button type="button" class="btn btn-primary" v-on:click="refer">
                    <span>提交</span>
                </button>
                <button type="button" class="btn btn-primary" v-on:click="backPre">
                    <span>退回上一步</span>
                </button>
            </div>
        </flow-opinion>
        <!--下个流程流转人员-->
        <modal-fade id="signModal" class="modal-lg" title="任务提交">
            <div slot="body">
                <p>请选择流转人员&nbsp;&nbsp;&nbsp;后续流程环节:<span id="nextNode"></span></p>
                <!--<v-table id="table_sign" :options="table" ajax="table_sign"></v-table>-->
                <table id="table_sign" data-ajax="table_sign">
                    <thead>
                    <tr>
                        <th data-switchable="false" data-field="userId" data-formatter="handle_sign"
                            data-events="tableEvent_sign">选择
                        </th>
                        <th data-field="organization">机构名称</th>
                        <th data-field="department">部门</th>
                        <th data-field="userName">姓名</th>
                        <th data-field="taskCount">当前代办量</th>
                    </tr>
                    </thead>
                </table>
                <input type="hidden" id="nextNodeUserId"/>
                <input type="hidden" id="nextNodeUserName"/>
            </div>
            <div slot="foot">
                <input type="hidden" id="signUserName" name=""/>
                <button type="button" class="btn btn-primary" id="select-sign-btn">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </modal-fade>

        <!--非人工付款情况下付款确认-->
        <modal-fade class="modal-lg" id="payMode" title="招行CBS" :title="title">
            <div slot="body">
                <form class="form-horizontal" id="payForm">
                    <input type="text" name="token" hidden>
                    <input type="text" name="projectId" hidden>
                    <fieldset disabled="disabled">
                        <div class="form-group form-group-sm">
                            <v-input label="付款账户名" name="guaranteeCorporationAccountName"></v-input>
                            <v-input label="收款账户名" name="dealerAccountName1"></v-input>
                        </div>
                        <div class="form-group form-group-sm">
                            <v-input label="付款银行" name="guaranteeCorporationBank"></v-input>
                            <v-input label="收款银行" name="dealerBank1"></v-input>
                        </div>
                        <div class="form-group form-group-sm">
                            <v-input label="付款账号" name="guaranteeCorporationAccountNo"></v-input>
                            <v-input label="收款账号" name="dealerAccountNo1"></v-input>
                        </div>
                    </fieldset>
                    <div class="form-group form-group-sm">
                        <v-input label="付款金额" calss="mon" name="dealerPaymentAmount" readonly="readonly"></v-input>
                        <v-input label="用途" name="purpose"></v-input>
                    </div>
                    <div class="form-group form-group-sm">
                        <v-radio label="是否加急" name="priorityFlag" :options="[{value:1,text:'是'},{value:0,text:'否',checked:'checked'}]"></v-radio>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="overage text-left col-md-12 col-xs-12 col-sm-12">

                        </div>
                        <div class="time text-right col-md-12 col-xs-12 col-sm-12">

                        </div>
                    </div>
                </form>

            </div>
            <div slot="foot">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="payment">确认</button>
            </div>
        </modal-fade>
        <!--非工作时间拆单付款确认-->
        <modal-fade id="takeApart">
            <div slot="body">
                <div>非工作时间，是否允许系统按（50000/笔）执行自动拆单付款操作</div>
            </div>
            <div slot="foot">
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                <button type="button" class="btn btn-primary" id="disAgree">否</button>
                <button type="button" class="btn btn-primary" id="agree">是</button>
            </div>
        </modal-fade>
        <!--<div class="modal fade" id="takeApart">-->
            <!--<div class="modal-dialog">-->
                <!--<div class="modal-content">-->
                    <!--<div class="modal-header">-->

                    <!--</div>-->
                    <!--<div class="modal-body">-->
                        <!--<div>非工作时间，是否允许系统按（50000/笔）执行自动拆单付款操作</div>-->
                    <!--</div>-->
                    <!--<div class="modal-footer">-->
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">返回</button>-->
                        <!--<button type="button" class="btn btn-primary" id="disAgree">否</button>-->
                        <!--<button type="button" class="btn btn-primary" id="agree">是</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
</body>

</html>
<script src="../../../common/js/jquery-2.1.1.min.js?rev=6631a779321bc03f4a5281d3ff526254"></script>
<script src="../../../common/plugs/bootstrap-3.3.5/js/bootstrap.min.js?rev=4becdc9104623e891fbb9d38bba01be4"></script>
<script src="../../../common/plugs/layer/layer.js?rev=8962f047eeb03c06cf8200de1bf8ab99"></script>
<script src="../../../common/js/mock.js"></script>
<script src="../../../common/plugs/jquery-validation/dist/jquery.validate.min.js?rev=3b00d60f87e893caf2649eff0d48813a"></script>
<script src="../../../common/plugs/jquery-validation/dist/localization/messages_zh.min.js?rev=6979ac84406e8c982e578736d368b3f8"></script>
<script src="../../../common/js/jquery.values.js"></script>
<script src="../../../common/plugs/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
<script src="../../../common/plugs/bootstrap-datepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="../../../common/plugs/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="../../../common/plugs/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="../../../common/js/LocalResizeIMG.js"></script>
<script src="https://api.map.baidu.com/api?v=2.0&amp;ak=1bG5NEsIqXGmgmmjIK87H00k&amp;s=1"></script>
<script src="../../../common/js/vue.min.js"></script>
<script src="../../../common/js/vueComponent.js"></script>
<script type="text/javascript" charset="utf-8">
    $("head").append([
        '<script src="../../../common/js/URL.js"><\/script>',
        '<script src="../../../common/js/iframeCommon.js"><\/script>',
        '<script src="../../../common/js/flow.js"><\/script>',
        '<script src="../../../js/task/myTask/common/base.js"><\/script>',
        '<script src="../../../js/secondHandCar/common/index.js"><\/script>',
        '<script src="../../../js/businessReview/branchPay/branchPay.js"><\/script>'
    ].join(""));
</script>
