/*
gps 样式
*/
* {
    padding: 0;
    margin: 0;
}
body,html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
}
.gray-bg {
    background-color: #f3f3f4
}
.clearFix:after{
    content:'';
    display: block;
    clear: both;
}
.contain {
    width: 100%;
    height: 100%;
    padding: 10px;
}
.gps-detail .detail-header{
    width: 100%;
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.gps-detail .detail-header > p{
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    width: 100%;
}
.gps-detail .detail-body {
    width: 90%;
    height: auto;
    background-color: #fff;
    margin: 20px auto;
    padding: 5px;
    cursor: pointer;
}
.detail-body table{
    width: 100%;
}
.detail-body.active {
    background-color: #FFE8AC;
}
.detail-body table tr > td {
    color: #0f0f0f;
    font-size: 12px;
    padding: 2px 2px;
    width: 50%;
    text-align: left;
}
.detail-body table tr:nth-child(4) > td{
    color: #0f0f0f;
    font-size: 16px;
    font-weight: bold;
    border-top: 1px solid #ccc;
}
.detail-body table tr:nth-child(5) > td:nth-child(2){
    color: red;
}
.gps-map{
    width: 80%;
    height: 100%;
    float: right;
}

/*
地图信息窗口样式
*/
.gps-info {
    width: auto;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    background-color: #fff;
    position: relative;
}
.gps-info dl {
    margin: 0;
}
.gps-info dl > dd {
    float: left;
    margin-left: 20px;
}
.gps-info .marker {
    width: 12px;
    height: 12px;
    display: inline-block;
    /*border: 12px solid transparent;*/
    border-radius: 50% 50% 0 50%;
    position: relative;
    transform: rotate(45deg);
}
.gps-info .marker:before{
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
}
.marker.running {
    background-color: #418f02;
}
.marker.stopped {
    background-color: #de3b3b;
}
.marker.default {
    background-color: #666;
}
.marker.satellite {
    background-color: #2C91FF;
}
.marker.base-station {
    background-color: #FF4500;
}
.marker.wifi {
    background-color: #00DA1E;
}
.gps-info .disabled{
    width: 11px;
    height: 14px;
    margin-top: 11px;
    display: inline-block;
    background: url('../../images/disabled.png') 0 0;
}

/**
  自定义覆盖物样式 小车
*/
.icon-car {
    width: 100px;
    height: 280px;
    color: #fff;
    background: url("../../images/car.png") 32px 0;
    transform: scale(0.14);
    /*animation: runningCar 5s infinite;*/
}
.icon-car.running {
    background-position: -70px -30px;
}
.icon-car.stopped {
    background-position: -228px -30px;
}
.icon-car.default {
    background-position: -387px -30px;
}

/*@keyframes runningCar {*/
    /*from {*/
        /*transform: scale(0.14) rotate(0deg);*/
    /*}*/
    /*to {*/
        /*transform: scale(0.14) rotate(360deg);*/
    /*}*/
/*}*/

.btn {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #fff;
    width: 45px;
    height: 25px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
}
.btn:focus {
    outline: none;
}
input {
    padding: 5px 10px;
    border: 1px solid #e5e6e7;
    border-radius: 3px;
    font-size: 12px;
}
input:focus {
    outline: none;
    border: 1px solid #1ab394;
}
input[readonly],input[readonly=readonly] {
    background-color: #eee;
}

.BMap_bubble_title {
    font-size: 14px;
    font-weight: bold;
}
/*tip层样式*/
.glob-tip {
    width: 300px;
    height: auto;
    padding: 10px 15px;
    background-color: #1ab394;
    color: #fff;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    border-radius: 6px;
    display:none
}

.styleCRW .glob-tip {
    background-color: #ea6753;
}
.styleCR .glob-tip {
    background-color: #ff8b33;
}
