.track-list {
    width: 20%;
    height: 100%;
    overflow: scroll;
    float: left;
    background-color: #ccc;
    box-sizing: border-box;
    border: 1px solid #797979;
}
.track-detail {
    width: 80%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    float: right;
    position: relative;
}
.track-detail .track-detail-header{
    width: 100%;
    height: 38px;
    line-height: 38px;
    background-color: #fff;
    position: relative;
}
.controller {
    width: 400px;
    height: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 0 30% 30%;
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    position: absolute;
    top: 38px;
    left: 50%;
    margin-left: -200px;
    z-index: 1000;
}
.track-detail .track-detail-map {
    width: 100%;
    height: 100%;
}

/**
  播放/暂停 按钮样式
*/
.play-control {
    position: relative;
    margin-top: 10px;
}
.play-control .play{
    width: 28px;
    height: 28px;
    background-color: #666;
    border-radius: 50%;
    position: relative;
    left: 33px;
}
.play-control .play:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-width: 6px 0 6px 10px;
    margin-top: -6px;
    margin-left: -3px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    background-color: transparent
}
.play-control.active .play {
    background-color: #00a0ea;
}
.play-control.active .play:before, .play-control.active .play:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    width: 3px;
    height: 10px;
    margin-top: -5px;
    margin-left: 0;
    border: 0;
    background-color: #fff;
}
.play-control.active .play:after {
    left: auto;
    right: 10px;
}

/**
  播放时间进度条
*/
.play-line {
    width: 150px;
    height: 6px;
    border-radius: 3px;
    position: absolute;
    top: 10px;
    left: 73px;
    background-color: #919191;
}
.play-line-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #f1ab04;
    position: absolute;
    top: -5px;
    left: -8px;
}
/**
  播放时间
*/
.play-time {
    position: absolute;
    left: 243px;
    top: 2px;
}

/**
  播放速度
*/
.play-speed {
    position: absolute;
    top: 70px;
    left: 91px;
}
.play-speed ul > li{
    height: 10px;
    padding: 5px 7px;
    line-height: 10px;
    border: 1px solid #ccc;
    border-right: none;
    list-style: none;
    float: left;
    cursor: pointer;
}
.play-speed ul > li:last-child {
    border-right: 1px solid #ccc;
}
.play-speed ul > li.active {
    background-color: #1ab394;
    color: #fff;
}
.play-speed ul > li:hover {
    background-color: #1ab394;
    color: #fff;
}
.address {
    width: 300px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: rgba(255,255,255,.9);
    position: fixed;
    right: -300px;
    top:50%;
    margin-top: -150px;
    z-index: 999;
}
.show-button {
    width: 25px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: none;
    background-color: rgba(255,255,255,.8);
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -25px;
    z-index: 1000;
    cursor: pointer;
}
.show-button:focus {
    outline: none;
}
.show-button:hover {
    background-color: rgba(38,56,71,.8);
}
.show-button:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #0c0c0c;
    border-right: 2px solid #0c0c0c;
    position: absolute;
    top: 50%;
    left: 16px;
    margin-top: -5px;
    margin-left: -5px;
    z-index: 1000;
    transform: rotate(-135deg);
}
.show-button.show:before {
    transform: rotate(45deg);
    left: 8px;
}
.show-button:hover:before {
    border-top-color: #fff;
    border-right-color: #fff;
}
.address.hide{
    display: none;
}
.address .address-list {
    /*background-color: #00a0ea;*/
    height: 100%;
    width: 100%;
    position: relative;
}
.address .address-list > li{
    list-style: none;
    padding: 5px;
    display: flex;
    align-items: center;
    align-content: center;
}
.address-list > li .round{
    display: inline-block;
    border: 7px solid #ccc;
    border-radius: 50%;
}
.address-list > li .title{
    margin-left: 22px;
}
.address .address-list > li:first-child .round {
    border-color: #00A207;
}
.address .address-list > li:last-child .round {
    border-color: #FF0000;
}
.address-list > li .round.running {
    border-color: #FFA500;
}
.title.running {
    color: #FFA500;
    border-color: #FFA500;
}
.special-deal {
    height: 30px;
    margin-top: 135px;
    text-align: center;
}
.BMap_bubble_content table tr > td:nth-child(1) {
    width: 30%;
}
.BMap_bubble_content table tr > td:nth-child(2) {
    width: 70%;
}