@charset "utf-8";

html,body{
	background-color: #f3f5f8;
}

.riskTitle{
	margin-top: 30px;
	padding: 0 30px;
	text-align: right;
	background-color: #fff;
	line-height: 50px;
	font-size: 24px;
	color: #4B7EFF;
}

/* 黑名单 */
.black2 {
	margin-top: 30px;
}
.black .headline{
	margin:1px 0;
	padding: 30px;
	padding-top: 20px;
	background-color: #fff;
}

.black .headline .dot{
	float: left;
	margin-top: 4px;
	width: 6px;
	height: 24px;
	background-color: #4b7eff;
	border-radius: 2px;
}

.black .headline .titleTxt{
	float: left;
	margin-left: 24px;
	color: #333;
	font-size: 32px;
	line-height: 32px;
}

.black .table {
	width: 100%;
	background-color: #fff;
}

.black .table .tr {
	position: relative;
	padding: 0 30px 0 50px;
}

.black .table .tr .line{
	position: absolute;
	left: 30px;
	right: 0;
	bottom: 0;
	height: 1px;
	background-color:#f3f5f8;
}

.black .table .td1 {
	float: left;
}

.black .table .td1 p {
	padding: 18px 0;
	font-size: 28px;
	color: #999;
	line-height: 38px;
}

.black .table .td2 {
	float: right;
}

.black .table .td2 p {
	padding: 18px 0;
	font-size: 28px;
	color: #333;
	line-height: 38px;
	text-align: right;
}

.black .table .td3 {
	width: 40%;
}

.black .table .td4 {
	width: 50%;
}

.black .noblack {
	height: 74px;
	line-height: 74px;
	text-align: center;
	color: #999;
	font-size: 28px;
	background-color: #fff;
}
/* 黑名单 */

/* 固定菜单 */
.navTitle{
	position: fixed;
	top: 168px;
	right: 0;
	width: 116px;
	height: 50px;
	background: url('../img/riskListDetailsPhone/1.png') no-repeat center center;
	background-size:100% 100%;
	font-size: 28px;
	color: #fff;
	text-align: center;
	line-height: 50px;
}
/* 固定菜单 */
