// 公共样式模型
.hide{
  display: none;
}

.bold {
  font-weight: bold;
}

.w-100 {
  width: 100%;
}
.w-100-imp {
  width: 100% !important;
}
.w-fit-content {
  width: fit-content;
}

.h-fit-content {
  height: fit-content;
}
.h-100 {
  height: 100%;
}
.overflow-auto {
  overflow: auto;
}
// 颜色
.def-shadow{
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.col-fff {
  color: #fff;
}
.col-78879c {
  color: #78879C;
}
.bg-white {
  background: white;
}
.bg-EFF2F7{
  background-color: #EFF2F7;
}
// 定位布局
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-space-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-j-end {
  justify-content: flex-end;
}
.flex-a-end {
  align-items: flex-end;
}
.flex-a-start {
  align-items: flex-start;
}
.border-box {
  box-sizing: border-box;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.overflow-hidden {
  overflow: hidden;
}
.brs-50 {
  border-radius: 50%;
}

.pointer {
  cursor: pointer;
}
.w-fit-content {
  width: fit-content;
}
.h-fit-content {
  height: fit-content;
}
// 定制特殊弹窗样式
.default-dialog-style{
  & .el-dialog__body{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.t-l{
  text-align: left;
}
.t-c{
  text-align: center;
}
.t-r{
  text-align: right;
}

.m-lr-auto{
  margin: 0 auto;
}

@each $num in 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 36, 40, 60, 64, 80, 90, 110, 120, 130, 140, 200 {
  .t-#{$num} {
      top: #{$num}px;
  }
  .l-#{$num} {
      left: #{$num}px;
  }
  .b-#{$num} {
      bottom: #{$num}px;
  }
  .r-#{$num} {
      right: #{$num}px;
  }
  .f-s-#{$num} {
      font-size: #{$num}px;
  }
  .w-#{$num} {
      width: #{$num}px;
  }
  .h-#{$num} {
      height: #{$num}px;
  }
  .l-h-#{$num} {
      line-height: #{$num}px;
  }
  .p-#{$num} {
      padding: #{$num}px;
  }
  .p-l-#{$num} {
      padding-left: #{$num}px;
  }
  .p-r-#{$num} {
      padding-right: #{$num}px;
  }
  .p-t-#{$num} {
      padding-top: #{$num}px;
  }
  .p-b-#{$num} {
      padding-bottom: #{$num}px;
  }
  .m-#{$num} {
      margin: #{$num}px;
  }
  .m-l-#{$num} {
      margin-left: #{$num}px;
  }
  .m-r-#{$num} {
      margin-right: #{$num}px;
  }
  .m-t-#{$num} {
      margin-top: #{$num}px;
  }
  .m-b-#{$num} {
      margin-bottom: #{$num}px;
  }
  .brs-#{$num} {
      border-radius: #{$num}px;
  }
  .z-#{$num} {
      z-index: #{$num};
  }
}