<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<!-- <link rel="shortcut icon" href="/images/favicon.ico"/> -->
	<meta name="viewport" content="width=1240,user-scalable=yes">
	<meta name="keywords" content="zzc" />
	<meta name="description" content="zzc" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>socket</title>
	<link rel='stylesheet' href='./public/css/reset.css' />
	<link rel='stylesheet' href='./public/css/common.css' />
	<script src="./public/js/jquery-1.11.1.min.js"></script>
	<script src="./public/js/socket.io.js"></script>
	<script src="./public/js/common.js"></script>
</head>
<style>
	h1 {
		margin: 20px auto;
		text-align: center;
	}

	h2{
		margin: 10px auto;
		text-align: center;
	}
	h3{
		margin: 10px auto;
		width: 302px;
		height: 34px;
		background-color: #000;
	}
</style>
<body>
	<h1>socket</h1>
	<h1 id="uid">1</h1>
	<h1 id="username">zzc</h1>	
	<br />
	<h2 id="send">发送的消息</h2>


	<script>
		var linkUrl = 'ws://127.0.0.1:4000';
		var httplinkUrl = 'http://127.0.0.1:4000';
    var socket = io.connect(linkUrl);
		var onlineUser = {}
 
    //连接成功时触发
    socket.on('connect', function () {
        console.log('socket-连接');
    });

		var userInfo = {
				uid: $('#uid').text(),
				username: $('#username').text(),
			}
		socket.emit('login', userInfo)

		// 监听用户登录
		socket.on('login',function (data) {
			onlineUser = data.onlineUser;
			console.info(onlineUser)
		});
  	// 监听用户退出
		socket.on('logout',function (data) {
			onlineUser = data.onlineUser
			console.info(onlineUser)
		});
 
    //连接断开时触发
    socket.on('disconnect', function () {
      console.log('socket-断开');
    });
 
    //收到消息时触发
    socket.on('message', function (data) {
			console.info(data)
    });
 
		$('#send').bind('click',function(){
			var uid = $('#uid').text()
			var userInfo = {
				uid: uid,
				order: 1,
				socket: onlineUser[uid].socket
			}
			socket.send(userInfo);
		})
</script>
</body>

</html>