*,
body {
  margin: 0;
  padding: 0;
}

.demo {
  margin: 20px auto;
  height: 200px;
  width: 200px;
  border: 1px solid blue;
  color: #000;
  .demo2 {
    margin: auto;
    width: 100px;
    height: 100px; 
    background: url('./../img/1.png') no-repeat center center; 
  }
  .demo3 {
    margin: auto;
    width: 100px;
    height: 100px; 
    background: url('./../img/2.png') no-repeat center center; 
  } 
  .demo4 {
    margin: auto;
    display: block;
    width: 100px;
    height: 100px; 
  }
}
