.fx-input {
  padding: 0.1rem;
  font-size: 0.16rem;
  outline: none;
  border: 1px solid #d1d5db;
}

.fx-input:hover {
  border-color: #3b82f6;
}

.fx-button {
  padding: 0.1rem;
  font-size: 0.16rem;
  color: #fff;
}