<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gps安装</title>
    <link rel="stylesheet" href="../../../common/plugs/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../common/css/style.min.css"/>
    <link rel="stylesheet" href="../../../common/plugs/layer/skin/layer.css?rev=433a1dd8df8c4851be764e907f6d758a"/>
    <link rel="stylesheet" href="../../../common/plugs/bootstrap-table/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../../common/plugs/bootstrap-datepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../../../common/plugs/bootstrap-select-1.10.0/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../../../common/plugs/viewer/css/viewer.min.css">
    <link rel="stylesheet" href="../../../css/main.css"/>
    <style>
        .deleteImg{
            position: absolute;
            left:5px;
            top:5px;
            width: 60px;

        }
        .parImg{
            position: relative;
        }
        .imgDelete{
            color: #337ab7;
        }
        .img-ul li{
            list-style: none;
            display: inline-block;
            text-align: center;
            padding: 0 5px;
        }
    </style>
</head>
<body class="gray-bg">
<div id="install">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-md-24">
                <div class="ibox-content float-e-margins">
                    <form id="installForm" class="form-horizontal">
                        <div class="form-group form-group-sm">
                            <v-select label="供应商" id="supplier" name="supplierId"></v-select>
                            <v-select label="型号规格" name="productSpec" id="spec"></v-select>
                            <input type="hidden" name="productType">
                            <v-select label="产品类型" name="productType" :options="[{value:1,name:'有线'},{value:2,name:'无线'}]" id="productType"></v-select>
                        </div>
                        <div class="form-group form-group-sm">
                            <v-input name="imei" label="IMEI" placeholder="请输入IMEI号"></v-input>
                        </div>
                        <div class="form-group form-group-sm">
                            <div class="col-md-24 col-xs-24 col-sm-24 text-center">
                                <button type="button" class="btn btn-primary" id="model-search" modal="enter"
                                        v-on:click="btnSearch"><span class="glyphicon glyphicon-search"></span><span>&nbsp;查询&nbsp;</span>
                                </button>
                                <button type="button" class="btn btn-white" modal="reset" v-on:click="reset"><span
                                        class="glyphicon glyphicon-remove"></span><span>&nbsp;清除查询条件&nbsp;</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="ibox-content">
                        <ul class="nav nav-tabs">
                            <li class="toInstall active"><a href="#toInstall" data-toggle="tab" v-show="type !== 'view'">待安装设备</a></li>
                            <li class="installed"><a href="#installed" data-toggle="tab">已安装设备</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="toInstall" class="tab-pane active toInstall" v-show="type !== 'view'">
                                <v-table id="table1" :options="toInstallTable" checkbox="checkbox" checkbox-formatter="isCheck" ajax="dataLoad1"></v-table>
                            </div>
                            <div id="installed" class="tab-pane installed">
                                <v-table id="table2" :options="installedTable" ajax="dataLoad2" formatter="operation" events="operate"></v-table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-24 text-right ibox-content" v-show="type != 'view'">
                        <button type="button" class="btn btn-primary" v-on:click="allocation">确认</button>
                    </div>
                </div>
                <div class="ibox-content float-e-margins">
                    <form class="form-horizontal" id="imgSrc">
                        <div  v-for="item in gpsData" :keys="item.id">
                            <div class="form-group form-group-sm parImg">
                                <v-input label="型号" readonly="readonly" name="productSpec" :value="item.productSpec"></v-input>
                                <v-input label="IMEI" readonly="readonly" name="imei" :value="item.imei"></v-input>
                                <v-input label="安装位置" :name="item.id" class="required position"></v-input>
                                <button type="button" class="btn btn-xs btn-info deleteImg" v-on:click="delete(item.id)">删除</button>
                            </div>
                            <div class="form-group form-group-sm">
                                <input id="upImageInput" type="file" name="files[]" accept="image/jpg" multiple class="hide" v-on:change="imgGet">
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-sm btn-primary" id="imgUp" v-on:click="imgUp(item.imei,$index)">上传照片</button>
                                </div>
                                <ul class="col-md-19 img-ul">
                                    <li v-for="items in imgSrc" v-show="items.imei==item.imei">
                                        <img :src="items.imagePath" alt="" :data-src="items.imagePath" style="width: 80px;height:80px">
                                        <p>{{items.imageName}}</p>
                                        <a href="javascript:;" class="imgDelete" v-on:click="imgDelete(items.imgId)">删除</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group form-group-sm" v-show="type != 'view'">
                            <div class="col-md-24 col-xs-24 col-sm-24 text-center">
                                <button type="button" class="btn btn-primary" v-on:click="back">取消</button>
                                <button type="button" class="btn btn-primary" v-on:click="confirm">确认安装</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--已安装设备查看安装照片弹层-->
    <modal title="查看照片" id="viewImg">
        <div slot="body">
            <ul class="col-md-24 img-ul" id="installImg">
                <li v-for="imgItem in imgList">
                    <img :src="imgItem.imagePath" alt="" :data-src="imgItem.imagePath" style="width: 100%;height: auto">
                    <p>{{imgItem.imageName}}</p>
                </li>
            </ul>
        </div>
    </modal>
    <!--解除安装弹层-->
    <modal title="解除安装" id="remove">
        <div slot="body">
            <h3 class="text-center">是否解除安装</h3>
        </div>
        <div slot="foot">
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="removeConfirm">是</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
        </div>
    </modal>
</div>
</body>
<script src="../../../common/js/jquery-2.1.1.min.js?rev=6631a779321bc03f4a5281d3ff526254"></script>
<script src="../../../common/js/vue.min.js"></script>
<script src="../../../common/plugs/bootstrap-3.3.5/js/bootstrap.min.js?rev=4becdc9104623e891fbb9d38bba01be4"></script>
<script src="../../../common/plugs/layer/layer.js?rev=8962f047eeb03c06cf8200de1bf8ab99"></script>
<script src="../../../common/js/mock.js"></script>
<script src="../../../common/js/jquery.values.js"></script>
<script src="../../../common/js/LocalResizeIMG.js"></script>
<script src="../../../common/plugs/jquery-validation/dist/jquery.validate.min.js?rev=3b00d60f87e893caf2649eff0d48813a"></script>
<script src="../../../common/plugs/jquery-validation/dist/additional-methods.js?rev=1512011716000"></script>
<script src="../../../common/plugs/jquery-validation/dist/localization/messages_zh.js?rev=6979ac84406e8c982e578736d368b3f8"></script>
<script src="../../../common/plugs/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
<script src="../../../common/plugs/bootstrap-datepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="../../../common/plugs/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="../../../common/plugs/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="../../../common/plugs/viewer/js/viewer.js"></script>
<script src="../../../common/plugs/bootstrap-select-1.10.0/dist/js/bootstrap-select.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $("head").append([
        '<script src="../../../common/js/URL.js"><\/script>',
        '<script src="../../../common/js/iframeCommon.js"><\/script>',
        '<script src="../../../common/js/vueComponent.js"><\/script>',
        '<script src="../../../js/stockManage/installedGps/install.js"><\/script>'
    ].join(""));
</script>
</html>