<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<link rel="shortcut icon" href="/favicon.ico"/>
		<meta name="viewport" content="width=1240,user-scalable=yes">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>news</title>
		<link rel="stylesheet" href="/public/css/reset.css" />
		<script src="/public/js/jquery-1.11.1.min.js"></script>
    <script src="/public/js/login.js"></script>
    <style>
      body{
        padding: 100px;
      }
    </style>
	</head>
	<body>
      <form id="loginForm" autocomplete="off">
        <div class="login_box">
          <div class="inputCar">
            <input type="text" name="name" placeholder="用户名" class="form-control" maxlength="11" id="name" value="zzc">
          </div>
          <div class="inputCar">
            <input type="password" name="password" placeholder="请输入密码" class="form-control" id="password" value="zzc">
          </div>
          <br />
          <br />
          <br />
          <button id="login" type="button">登录</button>
          <br />
          <br />
          <br />
          <button id="getInfo" type="button">获取用户信息</button>
        </div>
      </form>    
	</body>
</html>
