.zui-drawer {
  position: fixed;
  inset: 0;
  z-index: 1000;
  pointer-events: none;

  .zui-drawer-mask {
    position: absolute;
    inset: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.45);
    pointer-events: auto;   
  }

  .zui-drawer-content-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;    
    z-index: 10000;
    max-width: 100vw;
    width: 400px;
    right: -400px;
    // 抽屉动画
    transition: right linear 0.3s;

    .zui-drawer-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow: auto;
      background: #fff;
      pointer-events: auto;

      .zui-drawer-header {
        padding: 16px;
        display: flex;
        flex: 0;
        align-items: center;
        border-bottom: 1px solid rgba(5, 5, 5, 0.06);
      }

      .zui-drawer-body {
        flex: 1;
        min-width: 0;
        min-height: 0;
        overflow: auto;
      }
    }  
  }

  .zui-drawer-content-wrapper-open {
    right: 0;
  }
}