root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true # 设为true表示使文件以一个空白行结尾
trim_trailing_whitespace = true # 删除一行中的前后空格
max_line_length = 120
quote_type = single

[*.md] # 匹配md文件
trim_trailing_whitespace = false
