<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../common/plugs/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../common/css/style.min.css"/>
    <link rel="stylesheet" href="../../../common/plugs/layer/skin/layer.css?rev=433a1dd8df8c4851be764e907f6d758a"/>
    <!--<link rel="stylesheet" href="../../../common/plugs/bootstrap-datepicker/css/bootstrap-datetimepicker.min.css">-->
    <link rel="stylesheet" href="../../../common/plugs/bootstrap-table/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../../common/plugs/bootstrap-3.3.5/css/bootstrap-multiselect.css"/>
    <title>逾期规则管理</title>
    <style>
        th{
            text-align: center;
        }
        td{
            text-align: center;
            vertical-align: middle;
        }
        .msgClass{
            background-color: #18a689
        }
        .form-control.multiselect-search{
            height: 34px
        }
        .float-e-margins .btn.multiselect-clear-filter{
            margin-bottom: 0;
        }
        .input-group .input-group-addon{
            background-color: #eee;
            border-radius: 4px 0 0 4px;
        }

    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content" id="overdueRule">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="page-header">
                        <h3 class="text-center">逾期规则查询</h3>
                    </div>
                    <form class="form-horizontal" id="searchForm">
                        <div class="form-group form-group-sm">
                            <c-input label="逾期规则名称:" label name="name" placeholder="请输入逾期规则名称"></c-input>
                            <c-select label="合作银行" name="coBankId" multiple="multiple" id="cooBank"></c-select>
                            <c-select label="启用状态" name="status" :options="useStatus"></c-select>
                        </div>
                        <div class="form-group form-group-sm">
                            <div class="col-md-24 col-xs-24 col-sm-24 text-center">
                                <button type="button" class="btn btn-primary" id="btn-search" modal="enter"
                                        v-on:click="btnSearch"><span class="glyphicon glyphicon-search"></span><span>&nbsp;查询&nbsp;</span>
                                </button>
                                <button type="button" class="btn btn-white" modal="reset" v-on:click="formReset"><span
                                        class="glyphicon glyphicon-remove"></span><span>&nbsp;清除查询条件&nbsp;</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--<button type="button" class="btn btn-primary" id="addData">自定义数据</button>-->
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="col-md-24 text-right">
                        <button type="button" class="btn btn-primary" @click="addBank">新增合作银行逾期规则</button>
                    </div>
                    <c-table id="tableList" :options="tableList" formatter="operation" events="operate" ajax="dataLoad"></c-table>
                </div>
            </div>
            <!--新增/修改 合作银行逾期规则弹出层-->
            <modal-fade id="bankModal" :title="title">
                <div slot="body">
                    <form class="form-horizontal" id="bankForm">
                        <input type="hidden" name="id"/>
                        <div class="form-group form-group-sm">
                            <div class="col-md-2"></div>
                            <c-input label="逾期规则名称:" name="name" class="required" placeholder="请输入逾期规则名称" label-class="col-md-3"
                                     input-class="col-md-4"></c-input>
                        </div>
                        <div class="form-group form-group-sm">
                            <div class="col-md-2"></div>
                            <c-select label="合作银行" class="required" multiple="multiple" id="multiSelect" :options="modalBank" label-class="col-md-3"
                                      select-class="col-md-4"></c-select>
                        </div>
                        <div class="form-group form-group-sm">
                            <div class="col-md-2"></div>
                            <c-input label="月还款日:" name="repaymentDay" class="required digits" max placeholder="请选择月还款日" label-class="col-md-3"
                                     input-class="col-md-4"></c-input>
                        </div>
                    </form>
                </div>
                <div slot="foot">
                    <button type="button" class="btn btn-primary" @click="saveBank">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </modal-fade>
            <!--确认操作提示弹出层-->
            <modal-fade id="deleteModal" title="删除规则">
                <div slot="body">
                    是否确认删除?
                </div>
                <div slot="foot">
                    <button type="button" class="btn btn-primary" id="delete">是</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
                </div>
            </modal-fade>
            <!--逾期规则设置弹出层-->
            <modal-fade id="ruleModal" title="逾期规则设置" class="modal-lg">
                <div slot="body">
                    <fieldset style="margin-bottom: 20px">
                        <legend>可选择参数</legend>
                        <span>Y - 逾期金额</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>M - 月还款额</span>
                    </fieldset>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>控制条件</h4>
                            <div class="ibox-content">
                                <form class="form-horizontal" id="ruleForm">
                                    <div class="form-group form-group-sm">
                                        <table class="table table-bordered table-condensed">
                                            <thead>
                                            <tr>
                                                <th width="15%">逾期数</th>
                                                <th width="15%">参数值</th>
                                                <th width="15%">判断条件</th>
                                                <th width="15%">参数值</th>
                                                <th width="15%">判断条件</th>
                                                <th width="15%">参数值</th>
                                                <th width="10%"><button type="button" class="btn btn-primary btn-xs" @click="addDetail">&nbsp;添&nbsp;&nbsp;加&nbsp;</button></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="(index,item) in ruleList">
                                                <td>{{item.overdueQuantityName}}</td>
                                                <td>
                                                    <p style="width: 60%;display: inline-block;margin: 0">
                                                        <input type="text"  class="form-control" v-model="item.overdueQuantityValue" :disabled="$index !=0" max="100">
                                                    </p>
                                                    <span style="width: 10%;" v-show="$index !== 0">*M</span>
                                                </td>
                                                <td>
                                                    <select class="form-control" v-model="item.overdueQuantityCondition" :disabled="$index != 0">
                                                        <!--<option value="">&#45;&#45;请选择&#45;&#45;</option>-->
                                                        <option value="1">小于等于</option>
                                                        <option value="2">小于</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <sapn style="width: 10%">Y</sapn>
                                                </td>
                                                <td>
                                                    <select class="form-control" v-model="item.overdueAmountCondition" v-on:change="changeValue(item,index)">
                                                        <!--<option value="">&#45;&#45;请选择&#45;&#45;</option>-->
                                                        <option value="1">小于等于</option>
                                                        <option value="2">小于</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <p style="width: 60%;display: inline-block;margin: 0">
                                                        <input type="text" class="form-control" v-model="item.overdueAmountValue" v-on:input="changeInput(item,index)">
                                                    </p>
                                                    <sapn style="width: 10%">*M</sapn>
                                                </td>
                                                <td><button type="button" class="btn btn-primary btn-xs" @click="deleteDetail(item,$index)" v-show="$index+1 == ruleList.length">&nbsp;删&nbsp;&nbsp;除&nbsp;</button></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div slot="foot">
                    <button type="button" class="btn btn-primary" @click="setRule">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </modal-fade>
        </div>
    </div>
</div>
</body>
<script src="../../../common/js/jquery-2.1.1.min.js?rev=6631a779321bc03f4a5281d3ff526254"></script>
<script src="../../../common/plugs/bootstrap-3.3.5/js/bootstrap.min.js?rev=4becdc9104623e891fbb9d38bba01be4"></script>
<script src="../../../common/plugs/bootstrap-3.3.5/js/bootstrap-multiselect.js"></script>
<script src="../../../common/plugs/layer/layer.js?rev=8962f047eeb03c06cf8200de1bf8ab99"></script>
<script src="../../../common/js/mock.js"></script>
<script src="../../../common/plugs/jquery-validation/dist/jquery.validate.min.js?rev=3b00d60f87e893caf2649eff0d48813a"></script>
<script src="../../../common/plugs/jquery-validation/dist/localization/messages_zh.min.js?rev=6979ac84406e8c982e578736d368b3f8"></script>
<script src="../../../common/plugs/jquery-validation/dist/additional-methods.js"></script>
<script src="../../../common/js/jquery.values.js"></script>
<script src="../../../common/plugs/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
<script src="../../../common/plugs/bootstrap-datepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="../../../common/plugs/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="../../../common/plugs/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="../../../common/js/iframeCommon.js?rev=1447835709081"></script>
<script src="../../../common/js/vue.min.js"></script>
<script src="../../../common/js/vueComponent.js"></script>
<script src="../../../js/overDue/overDueRule/overDueRule.js"></script>
</html>