<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<!-- <link rel="shortcut icon" href="/images/favicon.ico"/> -->
	<meta name="viewport" content="width=1240,user-scalable=yes">
	<meta name="keywords" content="zzc" />
	<meta name="description" content="zzc" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>error-test</title>
	<link rel='stylesheet' href='/css/reset.css' />
	<link rel='stylesheet' href='/css/common.css' />
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/common.js"></script>
</head>
<style>
	h1 {
		margin: 20px auto;
		text-align: center;
	}

	h2{
		margin: 10px auto;
		text-align: center;
	}
	h3{
		margin: 10px auto;
		width: 302px;
		height: 34px;
		background-color: #000;
	}
</style>
<body>
	<h1><%= message %></h1>
	<br />
</body>

</html>