<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="./img/favicon.ico"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="zzcwill" />
    <meta name="description" content="zzcwill" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>gulp-demo</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <script src="../js/common/jquery-1.11.1.min.js"></script>
    <script src="../js/index.js"></script>
  </head>
  <body>
    <div class="demo">
      demo-change
    </div>
    <div class="img-box m-t-20 m-b-20"></div>
    <div>
      <img src="../images/1.png" />
    </div>
  </body>
</html>
